body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* styles.css */
.chart-container {
  position: relative;
  text-align: center;
  margin: auto;
  height: 400px;
  width: 800px;
}

.chart-container canvas {
  cursor: pointer; /* Sets the cursor to indicate clickability */
}

.table-container {
  /* margin-top: 20px;
  /* margin-bottom: 20px; */
  padding: 40px;
  margin-bottom: 20px;
}

.styled-table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ddd;
}

.styled-table th,
.styled-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.styled-table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.styled-table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.binary-container {
  text-align: center; /* Center align content horizontally */
  margin: 0 auto; /* Center the container horizontally */
  max-width: 600px; /* Set maximum width of the container */
}

.bold-text {
  font-weight: bold; /* Make text bold */
  font-size: 18px; /* Set font size to make text bigger */
}
